<div class="navbar-fixed">
  <nav class="blue-bar no-border">
    <div class="nav-wrapper">
      <a class="brand-logo center nav-bar-font">CommuteTracker</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li> <%= link_to "Welcome, #{current_user.first_name}!", root_path %></li>
        <li> <%= link_to "Create Commute", new_trip_path %> </li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
</div>
<h2 class="center most-recent">ACT for <%= @commute.commute_name %> is <%= distance_of_time_in_words(time_calculator_index) %></h2><br>
<div class="col-6 left margin-left">
  <h3><em class="content-font show-page-title-color">Origin </em></h3><br><h5><%= @commute.address_one %></h5><br>
  <h3><em class="content-font show-page-title-color">Destination </em></h3><br><h5><%= @commute.address_two %></h5><br>
</div>
<div class="col-6 right margin-right">
  <iframe
      width="600"
      height="300"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/directions?key=<%="#{ENV['EMBEDDED_MAP_KEY']}"%>&origin=<%= "#{@commute.address_one}" %>
    &destination=<%= "#{@commute.address_two}" %>">
    </iframe>
</div>
